@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  input:checked ~ .radio {
    color: white;
    @apply bg-blue-500
  }
}
